*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Montserrat", serif;
    src: url(../Acleda/font/Montserrat-VariableFont_wght.ttf) format(truetype);
}
:root{
    --main-font:"Montserrat", sans-serif;
    --header-color: #1B3351;
    --primary-color : #122133;
    --yellow-color : #C29A39;
    --white-color : white;
}
body{
    background-color:#122133;
}
header{
    width: 100%;
    padding-inline: 182px;
    padding-block: 30px;
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.357);
    .icon-menu1{
        display: none;
    }
    .flag-cambodai{
        display: none;
    }

    .logo img{
        width: 210px;
    }
    .menu .ul{
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        .li{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 3;
            .a{
                color: var(--white-color);
                font-family: var(--main-font);
                padding:15px;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 530;
                transition: all 0.2s ease-in-out;
                display: block; 
                
                .icon-search img{
                    width: 11px;
                }
                .drop-icon {
                    margin-left: 2px;
                    width: 12px;
                }
                 .flag{
                    width: 28px;
                    border: 1px solid var(--white-color);
                }
                
            }
            a:hover{
                background-color: #122133;
                border-radius: 10px;

                .drop-icon{
                    transition: all 0.2s ease-in-out;
                    transform: rotate(180deg);
                }

            }
            .drop{
                background-color: #122133;
                top: 100%;
                right: 0;
                display: flex;
                width: 220px;
                position: absolute;
                height: 0;
                justify-content: center;
                flex-direction: column;
                visibility: hidden;
                overflow: hidden;
                transition: all 0.25s ease-in-out;
                border: 1px solid rgb(159, 157, 157);
                border-radius: 15px;
                

                ul{
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    gap: 15px;
                    padding: 10px;
                    li{
                        display: flex;
                        justify-content: end;
                        margin-right: 5px;

                        a{
                             text-transform: capitalize;
                             cursor: pointer;
                             font-family: var(--main-font);
                             font-size: 12px;
                             text-decoration: none;
                             color: white;
                        }
                        a:hover{
                            text-decoration: underline;
                            color: var(--yellow-color);

                        }
                    }

                }
                .hr{
                    background-color: gray;
                    height: 0.6px;
                    margin-block: 5px;
                    
                }
            }
            
        }
        .li:hover .drop{
                height: 265px;
                visibility: visible;
            } 
        .li:hover .drop1{
                height: 80px;
                visibility: visible;
            } 
    }
}

.section{
    height: 60px;
    border-bottom: 1px solid gray;
    background-color:none;
    display: flex;
    align-items: center;
    
    .section1{
        padding-inline: 175px;
    }
     .ul{
        display: flex;
        list-style: none;
        .li{
            padding: 15px;
            display: flex;
            position: relative;
            .a{
                text-decoration: none;
                color: var(--white-color);
                font-family: var(--main-font);
                font-size: 13px;
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 1px;
            }
            
            .drop-icon {
                width: 12px;
                margin-left: 5px;
                transition: all 0.25s ease-in-out;
            }
            
                .section-drop{
                position: absolute;
                background-color: #122133;
                width: 275px;
                /* height: 300px; */
                height: 0;
                overflow: hidden;
                visibility: hidden;
                top: 100%;
                left: 0;
                border: 1px solid gray;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                transition: all 0.25s ease-in-out;
                z-index: 3;
                ul{
                    /* display: flex; */
                    list-style: none;
                    padding: 15px;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    padding: 10px;
                    
                    li{

                        a{
                            text-decoration: none;
                            text-transform: capitalize;
                            color: var(--white-color);
                            font-family: var(--main-font);
                            font-size: 15px;
                            font-weight: 100;
                        }
                    }
                    li:hover a{
                        color: #C29A39;
                        text-decoration: underline;

                    }
                }   
            }
        }
        .li:hover .drop-icon{
                transform: rotate(180deg);
            }
        li:hover .a{
                color: var(--yellow-color);
            }
        li:hover .section-drop{
            visibility: visible;
            height: 300px;
        } 
        li:hover .section-drop1{
            height: 280px;
        } 
        li:hover .section-drop2{
            height: 550px;
        } 
    }
}
.benner-ac{
    height: 415px;
    /* max-width: 1300px; */
    width: 100%;
    background-color: rgb(27, 34, 50);
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
    /* border: 1px solid rgb(98, 96, 96); */
    display: flex;
    align-items: center;
    justify-content: center;

        .slide-show{
            width: 75%;
            height: 100%;background-color: aliceblue;

        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            /* max-width: 1300px; */
            font-size: 18px;
            /* background: #444; */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit:cover ;
        }

        .swiper {
            margin-left: auto;
            margin-right: auto;
        }
        }
        
} 
.auth{
    height: 300px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 50px; */
    ul{
        width: 60%;
        padding-inline: 200px;
        padding-block: 190px;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        li{
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            /* padding-inline: 10px; */
            /* background-color: aliceblue; */
            
            a{
                color: var(--white-color);
                font-family: var(--main-font);
                width:140px;
                text-decoration: none;
                text-transform: uppercase;
                padding-inline:5px;
                /* background-color: #C29A39; */
                font-size: 12px;
                font-weight: 540;
                display: flex;
                text-align: center;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                i{
                    width: 60px;
                    height: 85px;

                    img{
                        width: 100%;
                        border: 1px solid gray;
                        padding: 10px 7px;
                        object-fit: cover;
                        border-radius: 15px;
                    }
                }
            }
        }
        li:hover a{
            text-decoration: underline;
            img{
                border: 1px solid white;
            }
        }
     }
}  
.main-container{
    height: 100%;
    /* padding-inline: 10px; */
    background-color: #091521;
    margin-inline: auto;
    padding-block: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* display: grid; */
    
    .main-card{
        height:390px;
        width: 75%;
        gap: 20px;
        display: flex;
        overflow-inline: scroll;
        scrollbar-width: thin;
        margin-top: 60px;
        .card{
            min-width: 315px;
            height: 370px;
            overflow: hidden;
            background-color: #122133;
            border-radius: 15px;
            cursor: pointer;
            .img{
                width: 100%;
                height: 60%;
                overflow: hidden;
                border-radius: 15px 15px 0 0;

                img{
                    width: 100%;
                    cursor: pointer;
                    height: 100%;
                    object-fit: cover;
                    transition: all 0.2s ease-in-out;
                    transform: scale(1);
                }
            }
            
            .tittle{
                width: 100%;
                height: 35%;
                padding-inline: 15px;
                margin-top: 15px;
                a{
                    color:#93b1d3;
                    font-family: var(--main-font);
                    text-decoration: none;
                    font-size: 15px;
                    font-weight: 549;
                    line-height: 1.5;
                }
            }
            .more{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content:center;
                gap: 30px;
                font-family: var(--main-font);
                font-size: 17px;
                text-transform: uppercase;
                cursor: auto;
                 h3 a{
                    color: gray;
                    text-decoration: none;
                    font-weight: 550;
                    
                }
                button{
                    padding: 10px 22px;
                    background-color: #1B3351;
                    border: none;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    position: relative;
                    cursor: pointer;
                    a{
                        text-decoration: none;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        font-weight: 550;
                        font-family: var(--main-font);
                        color: gray;
                    }
                   
                }
                button:hover a{
                    text-decoration: underline;
                }

            }
        }
            .card:hover img{
                    transform: scale(1.05);
            }
            .card:hover a{
                color: var(--white-color);
                text-decoration: underline;
            }
           
            .card3{
                height: 450px;
                .img{
                    height: 75%;
                    img{
                         width: 100%;
                         height: 100%;
                    }
                }

            }
        .card2{
            min-width: 300px;
            height: 370px;
            
            .img1{
                width: 100%;
                height: 40%;
                /* padding: 15px; */
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: rgb(199, 193, 193);
                img{
                    width: 80%;
                    object-fit: cover;
                    transform: scale(1);
                    transition: all 0.25s ease-in-out;
                }
            }
            .img1:hover img{
                transform: scale(1.05);

            }
            .tittle{
                width: 100%;
                height: 60%;
                padding: 10px;
            }
        }
           
    }    
    
    .main3{
        height: 480px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
 }
.list-box{
    height: 100%;
    background-color: #091521;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    ul{
        width: 75%;
        list-style: none;
        display: flex;
        gap: 85px;
        position: relative;

        li{
            width: 50%;
            height: 580px;
            /* background-color: #122133; */
            border-radius: 20px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            position: relative;
            .img{
                width: 100%;
                height: 90%;
                overflow: hidden;
                border-radius: 20px;
                /* background-color: #C29A39; */
                
                img{
                    width: 100%;
                    height: 100%;
                    transform: scale(1);
                    transition: all 0.25s ease-in-out;

                }
            }
            .img:hover img{
                transform: scale(1.05)
            }
            
            p{
                display: flex;
                gap: 5px;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                a{
                    text-decoration: none;
                    font-family: var(--main-font);
                    color: #93b1d3;
                    font-size: 14px;
                    text-transform: uppercase;
                }
            }
            p:hover a{
                text-decoration: underline;
                color: white;

            }
            

        }
    }
}
.bk{
    background-color: #091521;
}
.logo-gavernment{
    height:100%;
    background-color: #091521;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

    .main-logo{
        width: 75%;
        border-radius: 15px;
        padding: 25px;
        height: 280px;
        background-color:#122133;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        .tittle{

            a{
                font-family: var(--main-font);
                font-size: 15px;
                font-weight: 500;
                text-transform: uppercase;
                color: #93b1d3;
                text-decoration: none
            }
            a:hover{
                color: white;
                text-decoration: underline;
            }
        }
        .logo{
            width: 100%;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            ul{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;
                gap: 10px;
                li{
                    width: 7%;
                    height: 50px;
                    cursor: pointer;
                    border-radius: 5px;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        transform: scale(1);
                        transition: all 0.25s ease-in-out;
                    }
                }
                li:hover img{
                    transform: scale(1.05);
                    
                }
            }
        }
    }
    .logo2{
        height: 500px;
    }
    .logo3{
        height: 420px;
    }
}
footer{
    height: 515px;
    border-top: 1px solid gray;
    padding: 60px;
    background-color: #122133;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    /* justify-content: center; */
    ul{
        /* margin-top: 30px; */
        list-style: none;
        display: flex;
        gap: 25px;
        li{
            font-family: var(--main-font);
            color: var(--white-color);
            font-size: 11px;
            text-transform: uppercase;
            a{
                color: var(--white-color);
                text-decoration: none;
            }
            a:hover{
                text-decoration: underline;

            }
        }
    }
    .foot{
        margin-top: 17px;
    }
    .ul-img{
        gap: 11px;
        li{

            img{
                width: 135px;
                border-radius: 10px;
                transform: scale(1);
                transition: all 0.25s ease-in-out;
            }
        }
        li:hover img{
            transform: scale(1.05);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.515);
        }
    }
    .socail{
        margin-top: -10px;
        .app{
            gap: 13px;
            /* height: 100px; */
            /* background-color: #C29A39; */
            li{
                img{
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    object-fit: cover;
                    transform: scale(1);
                    transition: all 0.25s ease-in-out;
                }

            }
            li:hover img{
                transform: scale(1.05);
                border: 1px solid rgb(221, 217, 217);
            }
        }
    }
    
}

@media screen and (max-width:1195px) {
    header{
        padding-inline: 20px;
        padding-block: 20px;
    }
    .section{
        
        display: flex;
        align-items: center;
        justify-content: start;
        .section1{
            padding-inline: 20px;
        }

    }
    .benner-ac{

        .slide-show{
            width: 100%;
        }
    }
    .main-container{
        .main-card{
            width: 98%;
        }
    }
    .auth{
        width: 100%;
        ul{
            width: 100%;
            overflow-inline: scroll;
        scrollbar-width: none;
        margin-top: 60px;
        }
    }
    
    .list-box{

        ul{
            width: 98%;

        }
        
    }
    .logo-gavernment{

        .main-logo{
            width: 98%;
        }
    }
    
}
@media screen and (max-width:865px) {
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .icon-menu1{
            display: flex;
            padding: 5px 10px;
            img{
                width: 25px;
            }
        }
        .icon-menu1:hover{
            background-color: #122133;
            border-radius: 5px;
        }
        .logo{
            img{
                width: 150px;
            }
        }
        .menu{
            display: none;
        }
        .flag-cambodai{
            display: flex;
            img{
                width: 30px;
                border: 1px solid white;
                
            }
        }
        .benner-ac{

        .slide-show{
            width: 100%;
        }
    }
    }
    .section{
        .section1{
            display: none;
        }
        /* display: none; */
    }
    .benner-ac{
        width: 100%;
        height: 300px;
        background-color: #C29A39;
        .slide-show{
            width: 100%;
            height: 100%;
           
            .swiper-button-next{
                top: 300px;
            }
            .swiper-button-prev{
                top: 300px;

            }
        }
    }
    .auth{
        width: 97%;
        height: 200px;
        display: flex;
        padding-inline: 0;
        ul{
            width: 100%;
            display: flex;
            gap: 10px;
            justify-content: start;
            left: 500px;
            align-items: center;
            overflow-inline: scroll;
            scrollbar-width: none;
            margin-top: 60px;
            li{
                width: 100%;
            }
        }
    }
    .list-box{
        width: 97%;
        ul{
            width: 100%;
            li{
                width: 50%;
                height: 400px;
            }
        }

    }
   .logo-gavernment{
    .main-logo{
        width: 100%;
        ul{
            width: 100%;
            li{
                width:200px;
                img{
                    width: 100%;
                }
            }
        }
    }
   }
    
}
